---
import Layout from "../../layouts/Layout.astro";

const { subreddit } = Astro.params;
console.log(subreddit);
const subredditUrl = `https://reddit.com/r/${subreddit}.json`;
const subredditData = await fetch(subredditUrl).then((res) => res.json());
console.log({ subredditData });
---

<Layout title={subreddit?.toString() || ""}>
  <main>
    <h1>{subreddit}</h1>
    {
      subredditData.data.children.map((post: any) => (
        <div>{post.data.title}</div>
      ))
    }
  </main>
</Layout>
